/* Estilos Gerais */

body {
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 30px;
    padding: 10%;
    border: 0.5px solid #393c3d;
    padding-bottom: 0;
    padding-left: 20%;
    padding-right: 20%;

}

#Isabel {
    background-color:  rgb(99, 101, 107);
    display: inline-block;
    border-radius: 5%;
    box-shadow: 0 0 3px 3px #504f55;

}

#desc {
  margin-bottom: 10%;
}

/* Links */

a {
    color: gainsboro;
    text-decoration: none;
}

a:hover {
    transition-duration: 0.5s;
    opacity: 60%;
}


/* Estilizando Card de Conhecimentos */

.conhecimento{
    font-size: 30px;
    background-color: rgb(99, 101, 107);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 3px 3px #504f55;
}

/* Espaçamentos */

.one {
    
    padding-left: 5%;
}
/* Estilizando Projetos */

.projetos {
    padding: 15%;
    padding-bottom: 10%;
    padding-top: 10%;

}

.projectsItem {
    display: block;
    padding: 20%;
    margin: 10%;
    border-radius: 5%;
    box-shadow: 0 0 3px 3px #504f5575;
    background-color: rgba(99, 101, 107, 0.253) ;
   
}

/* Contatos */

.contato, ul{
    list-style: none;    
    margin: 5;
}

#ct {
    padding: 0%;
}

.linkagem {
    padding-bottom: 3%;
}

/* Rodapé */

footer {

    font-size: small;
    opacity: 70%;
    padding-top: 30px;
}